#focused-rect{
    -fx-fill: #0099b7;
}
#focused-box{
    -fx-background-color: rgba(255,255,255,0.1);
}
#focused-text{
    -fx-text-fill: white;
}
#unfocused-text{
    -fx-text-fill: rgba(255,255,255,0.7);
}
#unfocused{
    -fx-background-color: transparent;
    -fx-fill: transparent;
}
#disabled-text{
    -fx-text-fill: rgba(255,255,255,0.4);
}
#disabled-picture{
    -fx-opacity: 0.3;
}
#enabled-picture{
    -fx-opacity: 1;
}
#hover{
    -fx-background-color: rgba(255,255,255,0.07);
}