.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -jfx-toggle-color: #0099b7;
    -jfx-untoggle-color: #fafafa;
    -jfx-toggle-line-color: #666666;
    -jfx-untoggle-line-color: #666666;
}