#bar {
   -fx-background-color: linear-gradient(to right, #0099b7, #004cb7);
   -fx-effect: dropshadow(three-pass-box, rgba(0,153,183), 20, 0.5, 0, 0);
}
#bar-2 {
   -fx-background-color: #0099b7;
   -fx-effect: dropshadow(three-pass-box, rgba(0,153,183), 20, 0.5, 0, 0);
}
#bar-3 {
   -fx-background-color: #0099b7;
}
#bar-0 {
   -fx-background-color: transparent;
}
#rect {
   -fx-fill: linear-gradient(to right, #0099b7, #004cb7);
   -fx-effect: dropshadow(three-pass-box, rgba(0,153,183), 20, 0.5, 0, 0);
}
#rect-2 {
   -fx-fill: #0099b7;
   -fx-effect: dropshadow(three-pass-box, rgba(0,153,183), 20, 0.5, 0, 0);
}
#rect-3 {
   -fx-fill: #0099b7;
}
#rect-0 {
   -fx-fill: transparent;
}