.jfx-list-cell:selected {
    -fx-background-color: #0099b7;
}
.jfx-list-cell{
    -fx-background-insets: 0.0;
    -fx-control-inner-background: #3a3a3a;
    -fx-expanded: true
}
.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: #ffffff;
}
.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 50;
    -jfx-rippler-fill: transparent;
}
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
    -jfx-rippler-fill: #ffffff;
}

.mylistview .scroll-bar:horizontal{
    -fx-background-color:transparent;
}

.mylistview .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
    -fx-shape:" ";
    -fx-padding:0;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}